<section class="section">
  <div class="container is-fluid is-marginless">
    <ul class="flex-grid">
      {% for image in images %}
        <li class="flex-item"><img src="{{ image }}" alt=""></li>
      {% endfor %}
    </ul>
  </div>
</section>
