<!DOCTYPE html>
<html>
  <head>
    <title>Web basics</title>

    {# --- Stylesheets --- #}
    <link rel='stylesheet' href='/dist/bundle.css' />

    {# --- Scripts --- #}
    <script src="/dist/bundle.js" defer></script>
  </head>
  <body class="has-navbar-fixed-top">
    {% include 'navbar.njk' %}

    {% include 'image-gallery.njk' %}
  </body>
</html>
