<!DOCTYPE html>
<html>
  <head>
    <title>Web basics</title>

    {# --- Stylesheets --- #}
    <link rel='stylesheet' href='/stylesheets/bulma-0.7.1/css/bulma.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    {# --- Scripts --- #}
    <script src="/javascripts/main.js" defer></script>
  </head>
  <body class="has-navbar-fixed-top">
    {% include 'navbar.njk' %}

    {% include 'image-gallery.njk' %}
  </body>
</html>
