<nav class="navbar is-fixed-top has-background-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-white is-size-5" href="https://bulma.io">
      Web basics - Page speed optimization
    </a>
  </div>
</nav>